<app-header></app-header>

<div class="container mt-5">
  <div class="row">
    <!-- Contact Information -->
    <div class="col-md-6 mb-4">
      <h2>Контактирај не</h2>
      <p><strong>Адреса:</strong> СЕТУГС "Михајло Пупин" - Скопје ул. "Благоја Стефковски" 6, Скопје</p>
      <p><strong>Телефон:</strong> 076775721</p>
      <p><strong>Маил:</strong> eco.smell.company&#64;gmail.com</p>
      <p><strong>Работно време:</strong> Понеделник - Петок: 08:00 - 16:00</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4192.991143762921!2d21.477640571157334!3d42.00258320767752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13543fd4c184b2e7%3A0x654b8229281c852a!2sSETU%20Mihajlo%20Pupin%20-%20Skopje!5e0!3m2!1sen!2sus!4v1724857583026!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Contact Form -->
    <div class="col-md-6 mb-4">
      <h2>Испрати ни порака</h2>
      <form (ngSubmit)="onSubmit()" #formDirective="ngForm">
        <div class="mb-3">
          <label for="name" class="form-label">Име</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="contactForm.name" name="name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Маил</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="contactForm.email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">Наслов</label>
          <input type="text" class="form-control" id="subject" [(ngModel)]="contactForm.subject" name="subject" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Порака</label>
          <textarea class="form-control" id="message" rows="5" [(ngModel)]="contactForm.message" name="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Испрати</button>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
