<app-header></app-header>

<div class="team-section container text-center">
    <h2 class="mb-4">Meet Our Team</h2>
    
    <!-- Large Team Picture -->
    <div class="team-picture mb-5">
      <img src="../../../assets/images/team/team-picture.jpg" alt="Our Team" class="img-fluid rounded">
    </div>
  
    <!-- Team Members -->
    <div class="row justify-content-center">
      <div class="col-md-2 col-sm-4 mb-4" *ngFor="let member of teamMembers">
        <div class="card h-100">
          <img [src]="member.image" alt="{{ member.name }}" class="card-img-top img-fluid rounded-circle">
          <div class="card-body">
            <h5 class="card-title">{{ member.name }}</h5>
            <p class="card-text">{{ member.role }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>