<footer class="bg-light text-dark py-4 mt-5">
    <div class="container">
      <div class="row">
        <!-- Contact Information -->
        <div class="col-md-4 mb-3">
          <h5 class="fw-bold">Контакт</h5>
          <ul class="list-unstyled">
            <li>Емаил: <a href="mailto:eco.smell.company@gmail.com" class="text-decoration-none">eco.smell.company&#64;gmail.com</a></li>
            <li>Телефон: 
              <ul class="ps-0">
                <li>076 775 721</li>
                <li>075 378 452</li>
                <li>072 701 466</li>
              </ul>
            </li>
            <!-- <li>Адреса: СЕТУГС "Михајло Пупин" - Скопје ул. "Благоја Стефковски" 6, Скопје</li>
            <li>Работно време: Pon - Petok 08:00 - 16:00</li> -->
          </ul>
        </div>
        <!-- Social Media Links -->
        <div class="col-md-4 mb-3">
          <h5 class="fw-bold">Друштвени мрежи</h5>
          <ul class="list-unstyled d-flex">
            <li><a href="https://www.instagram.com/eco.smell.company?igsh=MXZhZGRtZTR1d213ZQ%3D%3D&utm_source=qr" class="text-decoration-none"><i class="bi bi-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/eco.smell.company?mibextid=LQQJ4d" class="text-decoration-none mx-3"><i class="bi bi-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/eco-smell-a636412b9?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="text-decoration-none"><i class="bi bi-linkedin"></i></a></li>
          </ul>
        </div>
        <!-- Additional Info -->
        <div class="col-md-4 mb-3">
          <h5 class="fw-bold">Адреса & Работно Време</h5>
          <p>СЕТУГС "Михајло Пупин" - Скопје</p>
          <p>ул. "Благоја Стефковски" 6, Скопје</p>
          <p>Работно Време: Понеделник - Петок 08:00 - 16:00</p>
        </div>
      </div>
    </div>
    <div class="text-center py-3">
      <small>&copy; 2024 Eco - Smell Компанија. Сите права се задржени.</small>
    </div>
  </footer>
  