<div class="container text-center py-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="feature-icon mb-3">
          <img src="../../../assets/images/nontoxic.jpg" alt="Non-Toxic" class="img-fluid" style="width: 190px; object-fit: cover;">
        </div>
        <h5 class="fw-bold">Нетоксични</h5>
      </div>
      <div class="col">
        <div class="feature-icon mb-3">
          <img src="../../../assets/images/petFriendly.jpg" alt="Pet Friendly" class="img-fluid">
        </div>
        <h5 class="fw-bold">Пријателски за миленичиња</h5>
      </div>
      <div class="col">
        <div class="feature-icon mb-3">
          <img src="../../../assets/images/liquidFree.jpg" alt="Liquid Free" class="img-fluid">
        </div>
        <h5 class="fw-bold">Без течност</h5>
      </div>
      <div class="col">
        <div class="feature-icon mb-3">
          <img src="../../../assets/images/crueltyFree.jpg" alt="Cruelty Free" class="img-fluid">
        </div>
        <h5 class="fw-bold">Без суровост</h5>
      </div>
    </div>
  </div>
  