<div class="container mt-5">
    <div class="row align-items-center pt-5">
      <!-- Left Side: Image -->
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="../../../assets/images/ProletnaKolekcija/slika5.jpg" alt="Product Image" class="img-fluid rounded shadow" style="width: 600px; height: 330px; object-fit: cover;">
      </div>
  
      <!-- Right Side: Product Description -->
      <div class="col-md-6">
        <h3 class="mb-4 text-center text-md-start">За Производот</h3>
        <p>
          Нашиот производ SmelltoSeed е изработен од 100% рециклирана хартија, збогатен со природни мириси
          од есенцијални масла и во него содржи семиња од разни растенија. Овие вредности го прават нашиот
          производ еден и единствен биоразградлив освежувач на воздух на нашиот пазар. Smell to seed е рачно
          изработен од нашиот тим.
        </p>
        <p>
          Секоја хартија што ја користиме е внимателно 
          избрана за да биде 100% биоразградлива, а есенцијалните масла не само што додаваат мирис, туку и допринесуваат 
          кон целокупното чувство на свежина и благосостојба. По употреба, нашиот производ може да биде засаден, 
          каде што семињата ќе дадат нов живот во форма на растенија.
        </p>
      </div>
    </div>
  </div>
  