<app-header></app-header>

<div class="container py-5">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h1 class="display-5 fw-bold">За нас</h1>
        <p class="">Ние сме страсни за испорака на најдобрите производи и услуги на нашите клиенти.</p>
      </div>
    </div>
  
    <div class="row align-items-center">
      <!-- Image Section -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="../../../assets/images/Upshift/slika5.jpg" style="width: 500px; height: 300px; object-fit: cover;" class="img-fluid rounded shadow" alt="Our Team">
      </div>
      <!-- Text Section -->
      <div class="col-lg-6">
        <h2 class="h3 fw-bold">Нашата мисија</h2>
        <p class="text-muted">Нашата мисија е да обезбедиме висококвалитетни производи кои го подобруваат животот на нашите клиенти. Ние се стремиме да постигнеме извонредност во сè што правиме, од дизајн на производи до услуги на клиентите.</p>
        <p class="text-muted">Посветени сме на одржливост и иновации, осигурувајќи дека нашите производи не се само ефективни, туку и еколошки.</p>
      </div>
    </div>
  
    <div class="row align-items-center mt-5">
       <!-- Image Section -->
       <div class="col-lg-6 order-lg-1">
        <img src="../../../assets/images/JuniorAchievement/slika3.jpg" style="width: 500px; height: 300px; object-fit: cover;" class="img-fluid rounded shadow" alt="Our Vision">
      </div>
      <!-- Text Section -->
      <div class="col-lg-6 order-lg-2 mb-4 mb-lg-0 mt-4">
        <h2 class="h3 fw-bold">Нашата визија</h2>
        <p class="text-muted">Нашата визија е да бидеме водечки снабдувач на биоразградливи освежувачи на пазарот. Наша цел е да поставиме стандарди за квалитет и задоволство на клиентите, постојано развивајќи се за да ги задоволиме променливите потреби на нашите клиенти.</p>
        <p class="text-muted">Ние веруваме во моќта на иновативноста и креативноста и посветени сме на оживување на новите идеи преку нашите производи.</p>
      </div>
    </div>
  
    <div class="row align-items-center mt-5">
      <!-- Image Section -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="../../../assets/images/JuniorAchievement/slika1.jpg" style="width: 500px; height: 300px; object-fit: cover;" class="img-fluid rounded shadow" alt="Our Values">
      </div>
      <!-- Text Section -->
      <div class="col-lg-6">
        <h2 class="h3 fw-bold">Нашите вредности</h2>
        <p class="text-muted">Ние веруваме во интегритет, транспарентност и почит во сите наши интеракции. Посветени сме на градење силни односи со нашите клиенти, вработени и партнери, засновани на доверба и меѓусебно почитување.</p>
        <p class="text-muted">Нашите вредности ги водат нашите постапки и одлуки, осигурувајќи дека секогаш дејствуваме во најдобар интерес на нашите клиенти и животната средина.</p>
      </div>
    </div>
  </div>
  

<app-footer></app-footer>