<div class="container-fluid p-0 position-relative" style="height: 500px;">
  <img src="../../../assets/images/background.jpg" class="img-fluid w-100" alt="Promo Banner" style="height: 100%; object-fit: cover;">
  <div class="position-absolute top-50 start-50 translate-middle text-center px-3 py-4">
    <p class="fs-2 fs-md-2 fs-lg-1 fw-bold firstSectionHeading">Освежувач и цвеќе во едно!</p>
    <p class="lead fs-6 fs-md-5">Уживајте со нашиот освежувач. Купувајте го овој најпродаван сезонски мирис додека трае.</p>
    <a href="колекции" class="btn px-4 fs-6 shadow-custom">Купи сега</a>
  </div>
</div>
